* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Sayfan覺n kendisinde scroll olmas覺n */
}

.app {
  width: 375px;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* kendisi scroll almas覺n */
  position: relative;
}




header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;     /*  as覺l sihir burada */
  top: 0;
  z-index: 100;
}

main {
  flex: 1;
  overflow-y: auto;     /* sadece i癟erik scroll olur */
  padding: 12px 16px;
  overflow-x: hidden;
}

/* Webkit scroll tasar覺m覺 (i癟eride) */
main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

main::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}


.logo {
  height: 30px;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 16px;
  top: 50px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  list-style: none;
  z-index: 999;
}

.dropdown li {
  padding: 6px 12px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.post {
  margin-bottom: 24px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
}

.post-header .avatar {
  width: 40px;
  height: 40px;
}

.post-image-container {
  position: relative;
}

.post-image {
  width: 100%;
  display: block;
}

.heart-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 60px;
  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;
}

.heart-overlay.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.post-actions {
  display: flex;
  gap: 10px;
  padding: 8px 16px;
}

.post-actions img {
  width: 25px;
  cursor: pointer;
}

.likes {
  padding: 0 16px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 4px;
}

.comment-list {
  padding: 0 16px;
  font-size: 14px;
}

.comment-box {
  display: flex;
  padding: 10px 16px;
  gap: 8px;
}

.comment-box input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-box button {
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
h3 {
  font-size: 13px;     
  font-weight: bold;   
  color: #000;         
  margin-bottom: 1px;
}

p {
  font-size: 11px;     
  color: #555;         
  line-height: 1.4;
}